/*
 * resource.rc: the icon!
 *
 * Copyright 2004
 * See the COPYING file for more information on licensing and use.
 *
 * This file contains the resource script reference to our icon.
 */

#include <windows.h>
#include "tibiamovie.h"

100 ICON DISCARDABLE "tibiamovie.ico"

200 DIALOG DISCARDABLE  0, 0, 186, 46
STYLE WS_POPUP | WS_CAPTION
CAPTION "Select a Custom Server"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",    IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
    EDITTEXT        201,7,15,117,14,ES_AUTOHSCROLL
END

300 MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", MENU_FILE_EXIT
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "Only Show &Compatible Movies", MENU_OPTIONS_COMPAT_MODE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", MENU_HELP_ABOUT
    END
END

400 DIALOG DISCARDABLE  0, 0, 205, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About TibiaMovie"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,148,6,50,14
    LTEXT           "TibiaMovie, by Erigol.",1,7,6,136,11
    LTEXT           "This program is not made, distributed, or supported by CipSoft GmbH.",
                    1,7,20,134,27
    LTEXT           "Tibia(R) is a registered trademark of Stephan Börzsönyi, Guido Lübke, Ulrich Schlott and Stephan Vogler.",
                    1,7,50,183,19
END

1 24 "resource.manifest"
