/*
 * resource.rc: the icon!
 *
 * Copyright 2004
 * See the COPYING file for more information on licensing and use.
 *
 * This file contains the resource script reference to our icon.
 */

#include <windows.h>

100 ICON DISCARDABLE "tibiamovie.ico"

200 DIALOG DISCARDABLE  0, 0, 186, 46
STYLE WS_POPUP | WS_CAPTION
CAPTION "Select a Custom Server"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",    IDOK,129,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,24,50,14
    EDITTEXT        201,7,15,117,14,ES_AUTOHSCROLL
END
